html,
body {
    height: 100%;
    margin: 0;
    display: flex;

    flex-direction: column;
    width: 100vw;
    justify-content: center;
    overflow-x: hidden;
}



/* .First {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

.header {
    background-color: rgb(199, 224, 225, 0);
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-family: 'Sofia', sans-serif;
    z-index: 7;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 223, 167, 0);
    border-radius: 10px;
    font-style: italic;
    margin-bottom: 0%;
    margin-top: auto;
    text-align: center;
    height: 7%;

}

.navbar ul {
    background-color: rgb(199, 224, 225, 0);
    height: 60px;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    list-style-type: none;

}

.navbar li {
    float: left;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {

    color: rgb(217, 187, 169);
    font-size: 1.2em;
}

.navbar a:active {

    color: rgb(217, 187, 169);
    font-size: 1.1em;
}

.nav {
    float: right;
    z-index: 6;
    /* margin-right:3%; */
}

.logo {
    float: left;
    margin-left: 3%;
    margin-top: 1%;
}

.logoimg {
    height: 3em;
}


/* --loading--- */
.M {
    background:  white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .Title {
    /* background-color: #d69090; */
    /* color: #0e0e0e; */
    width: 1000px;
    height: 10vw;
    position: absolute;
    top: 10vh;
    left: 10vw;
    z-index: 1;
    font-size: 6em;
    font-family: "Tangerine", cursive;
    text-shadow: -4px -4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .overview {
    /* background-color: #d69090; */
    position: absolute;
    top: 70vh;
    right: 5%;
    width: 35vw;
    height: auto;
    text-align: left;
  
  
  }
  
  .overview h1 {
    font-size: 18px;
    font-family: "Orbitron", sans-serif;
  }
  
  .overview p {
    font-size: 30px;
    font-family: "Cormorant Garamond", serif;
  }
  
  @media (max-width: 1160px) {
    .First {
      justify-content: center;
  
      align-items: center;
  
      text-align: center;
  
    }
  
    .overview {
      right: auto;
      width: 500px
    }
  
  }
  
  @media (max-width: 530px) {
    .overview h1 {
      font-size: 100%;
    }
  
    .overview p {
      font-size: 150%;
    }
  
    .overview {
      width: 300px;
    }
  
  }
  
  @media (max-width:1100px) {
    .Title {
      left: 0;
      width: 100%;
      font-size: 15vw;
    }
  
  }
  /* .page {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 30px;
  } */
   /* 定义自定义属性 */
   /* color variables */



   * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	width: 100%;
	height: 100%;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dog {
	width: 160px;
	height: 186px;
	position: relative;
}
@keyframes head {
	0% {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(-20deg);
	}
	80% {
		transform: rotate(-20deg);
	}
	90% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.dog-head {
	width: 100px;
  height: 90px;
  position: absolute;
	z-index: 5;
  top: 30px;
  left: calc(50% - 50px);
  background-color: #efc092;
  border-radius: 50%;
	animation: head 6s linear infinite;
}
.dog-head:before,
.dog-head:after {
  content: "";
  width: 79px;
  height: 50px;
  position: absolute;
  z-index: 5;
  top: 44px;
  background-color: #efc092;
  border-radius: 50%;
}
.dog-head:before {
  left: -7px;
  transform: rotate(50deg);
}
.dog-head:after {
  right: -7px;
  transform: rotate(-49deg);
}
.dog-mouth {
	width: 60px;
  height: 35px;
  background-color: #fee2d2;
  position: absolute;
  bottom: -15px;
  left: 20px;
  z-index: 10;
  border-radius: 50%;
}
.dog-mouth:after {
	content: "";
	width: 10px;
  height: 40px;
  background-color: #fee2d2;
  position: absolute;
  bottom: 30px;
  left: 24px;
  z-index: 10;
  border-radius: 20px;
}
.dog-nose {
	width: 16px;
	height: 10px;
	position: absolute;
	top: 8px;
	left: calc(50% - 8px);
	background-color: #000;
	border-radius: 50%;
}
@keyframes tongue {
	0% {
		height: 10px;
	}
	30% {
		height: 10px;
	}
	40% {
		height: 20px;
	}
	60% {
		height: 10px;
	}
	80% {
		height: 20px;
	}
	90% {
		height: 10px;
	}
	100% {
		height: 10px;
	}
}
.dog-tongue {
  width: 20px;
  height: 10px;
  position: absolute;
  top: 24px;
  left: calc(50% - 10px);
  background-color: #f4a4ad;
  border-radius: 0 0 10px 10px;
	animation: tongue 4s linear infinite;
}
.dog-eyes {
	width: 10px;
  height: 16px;
  background-color: #000;
  position: absolute;
  top: 52px;
  left: 28px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 33px 0px 0px #000;
}
.dog-eyes:after {
  content: "";
  width: 92px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: -24px;
  background-color: #efc092;
  border-radius: 50%;
}
.dog-ears {
  width: 80px;
	height: 50px;
	position: absolute;
	z-index: 0;
	top: -2px;
	border-radius: 150px 0 150px 0;
	background-color: #efc092;
}
.dog-ears:after {
	content: "";
  width: 50px;
	height: 30px;
	position: absolute;
	z-index: 0;
	top: 8px;
	left: 20px;
	border-radius: 150px 0 150px 0;
	transform: rotate(-176deg);
	background-color: #fee2d2;
}
.ears-left {
	left: -22px;
	transform: rotate(-105deg);
}
.ears-right {
	right: -22px;
	transform: rotate(-22deg);
}
.dog-body {
  width: 54px;
  height: 60px;
  position: absolute;
  top: 120px;
  left: calc(50% - 35px);
  background-color: #d58b4e;
  border-radius: 49px 0 0 20px;
}
.dog-body:before {
  content: "";
  width: 50px;
  height: 60px;
  position: absolute;
  top: 3px;
  left: calc(50% - 17px);
  background-color: #efbf8e;
  border-radius: 100px 100px 0 0;
}
.dog-body:after {
  content: "";
  width: 15px;
  height: 30px;
  position: absolute;
  top: 32px;
  left: 28px;
  background-color: #d58b4e;
  border-radius: 100px 100px 0 0;
}
.dog-foot {
	width: 20px;
  height: 13px;
  position: absolute;
  z-index: 5;
  bottom: -3px;
  left: 8px;
  background-color: #fce2d3;
  border-radius: 10px 10px 0 0;
	box-shadow: 33px 0 0 #fce2d3;
}
@keyframes tail {
	0% {
  	transform: rotate(-47deg);
	}
	100% {
  	transform: rotate(-57deg);
	}
}
.dog-tail {
	width: 10px;
  height: 50px;
  position: absolute;
  top: 120px;
  left: calc(50% - 45px);
  background-color: #ecc093;
  transform: rotate(-47deg);
  border-radius: 10px 0 0 0px / 50px 0 0 0px;
	animation: tail .08s infinite alternate;
}
.ball {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 0px;
	border-radius: 50%;
	background-color: #6E64F0;
}

/* --outcome--- */
.outcome {
    
    justify-content: center;
    align-items: center;
    position: absolute;
    height: auto;
    width: 100vw;
    display: flex;
    /* background-color: #d4b6b6; */
    flex-direction: column;
    /* align-items: center; 
    justify-content: center;   */
  
  }

  .slide-content {
    margin: 8px;
    height: 200px;
    width: auto;
    background-color: lightgray;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex; /* 启用 Flexbox */
    justify-content: center; /* 水平方向居中 */
    align-items: center; /* 垂直方向居中 */
  }
  img {
    height: 100%;
    border-radius: 12px;
  }
  .slid-er {
    background: #000;
    height: auto; /* slide-content height + 2*margin */
    margin: auto;
    overflow: hidden;
    width: 100%;
    
  }
  .slid-er .slides {
    display: flex;
  }
  .slid-er .slide {
    width: auto; /* slide-content width + margin */
  }
  .button-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: opacity 0.25s;
  }
  .button-container:hover {
    opacity: 1;
  }
  .button-container:hover .button {
    transform: translate(-50%, -50%);
  }
  .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 12px));
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.25s;
    padding: 0 8px;
    border-radius: 12px;
    color: white;
    outline: 2px solid transparent;
  }
  .button:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
    filter: invert(1);
  }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 0 2px gray;
  }
  
  .prototype1_detail {
    /* margin-top: 25vh;
    margin-right: 5vw; */
    width: 50vw;
    height: 40vh;
    /* background: #8ba5e8; */
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .prototype1_detail h1 {
    font-size: 25px;
    font-family: "Orbitron", sans-serif;
  }
  
  .prototype1_detail p {
    font-size: 20px;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
  }
  
  @media (max-width: 1000px) {
  
  
  
    .prototype1_detail {
      height: auto;
    }
  }
  
  @media (max-width: 600px) {
  
    .prototype1_detail p {
      font-size: 4vw !important;
    }
  }
  

  .video {
    background: #000;
    margin-top: 10vh;
    margin-bottom: 15vh; /* 设置底部外边距，控制与底部的距离 */
    width: 50vw;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    padding: 10px;

}

.video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10;
    left: 10;
}
@media (max-width: 800px) {
    .video{
        width:600px;
        height:500px;
    }
}
@media (max-width: 600px) {
    .video{
        width:400px;
        height:300px;
    }
}